<script type="text/javascript">
    function showHide() {
        if($('#searchForm').hasClass('hide')) {

            $('#searchForm').show('slow');
            $('#searchForm').removeClass('hide');
        } else {

            $('#searchForm').hide('slow');
            $('#searchForm').addClass('hide');
        }
    }

    $(function () {
        $('select.dropdown').dropdown();

        $('.ui.form').form('set values', {
            disc      : [{{#each searchParameters.disc}}"{{this}}",{{/each}}]
        });
    });
</script>
<div class="ui segment">
    <div onclick="showHide()" style="cursor: pointer;">
        <h2 class="ui header">Suchen</h2>
    </div>
    <div class="ui divider"></div>
    <div id="searchForm" {{#if found}}class="hide" style="display: none"{{/if}}>
        <form class="ui form" method="get" action="/admin/boxes/">
            <h4 class="ui dividing header">Titel</h4>
            <div class="field">
                <div class="field">
                    <input name="title" placeholder="Titel" type="text" value="{{searchParameters.title}}">
                </div>
                <div class="field">
                    <label>Medium</label>
                    <select class="ui fluid search dropdown" name="disc" multiple>
                        <option value="">alle</option>
                        {{#each config.disc}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <input type="submit" class="ui button primary" value="Suchen">
            <input type="reset" class="ui button" value="Reset">
        </form>
    </div>
</div>
<div class="ui segment">
    <h2 class="ui header">{{founds}}  Filmboxen</h2>
    <div class="ui divider"></div>
    {{#if success.add}}
        {{#if success.addSuccess}}
            <div class="ui message success">
                Die Filmbox wurde erfolgreich erstellt
            </div>
        {{else}}
            <div class="ui message error">
                Die Filmbox konnte nicht erstellt werden
            </div>
        {{/if}}
    {{/if}}
    {{#if success.edit}}
        {{#if success.editSuccess}}
            <div class="ui message success">
                Die Filmbox wurde erfolgreich bearbeitet
            </div>
        {{else}}
            <div class="ui message error">
                Die Filmbox konnte nicht bearbeitet werden
            </div>
        {{/if}}
    {{/if}}
    {{#if success.delete}}
        {{#if success.deleteSuccess}}
            <div class="ui message success">
                Die Filmbox wurde erfolgreich gelöscht
            </div>
        {{else}}
            <div class="ui message error">
                Die Filmbox konnte nicht gelöscht werden
            </div>
        {{/if}}
    {{/if}}
    {{#if success.manage}}
        {{#if success.manageSuccess}}
            <div class="ui message success">
                Die Filme der Filmbox wurden erfolgreich bearbeitet
            </div>
        {{else}}
            <div class="ui message error">
                Die Filme der Filmbox konnten nicht bearbeitet werden
            </div>
        {{/if}}
    {{/if}}
    <table class="ui celled table">
        <thead>
        <tr>
            <th>Cover</th>
            <th>Titel</th>
            <th>Optionen</th>
        </tr>
        </thead>
        <tbody>
        {{#if data}}
            {{#each data}}
                <tr>
                    <td><img src="/static/image/cover/{{this.coverImg}}" class="ui tiny image"></td>
                    <td>
                        {{this.title}}
                        <br>
                        {{this.subTitle}}
                    </td>
                    <td>
                        <div class="ui icon buttons">
                            <button title="Filme verwalten" class="ui button large" onclick="window.location = '/admin/manageMovieBoxMovies/{{this.id}}'"><i class="list icon orange large"></i></button>
                            <button title="l&ouml;schen" class="ui button large" onclick="$('#a{{this.id}}').modal('show')"><i class="remove red icon large"></i></button>
                        </div>
                        <div class="ui basic modal" id="a{{this.id}}">
                            <div class="ui icon header">
                                <i class="delete icon"></i>
                                Filmbox l&ouml;schen
                            </div>
                            <div class="content">
                                <p>Bist du sicher das du die Filmbox l&ouml;schen m&ouml;chtest?</p>
                            </div>
                            <div class="actions">
                                <div class="ui red basic cancel inverted button">
                                    <i class="remove icon"></i>
                                    Nein
                                </div>
                                <div class="ui green ok inverted button" onclick="window.location = '/admin/deleteMoviebox/{{this.id}}'">
                                    <i class="checkmark icon"></i>
                                    Ja
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            {{/each}}
        {{else}}
            <tr>
                <td colspan="3">keine Eiträge</td>
            </tr>
        {{/if}}
        </tbody>
        <tfoot>
        <tr>
            <th colspan="3">
                {{#if pagination}}
                    <nav>
                        <br>
                        <div class="ui">
                            <div class="ui secondary menu">
                                <div class="right menu">
                                    <div class="ui inverted pagination menu">
                                        {{pagination}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </nav>
                {{/if}}
            </th>
        </tr>
        </tfoot>
    </table>
</div>
