<script type="text/javascript">
    $(function () {

        //Dropdowns
        $('select.dropdown').dropdown();

        $('.ui.form')
                .form({
                    on: 'blur',
                    fields: {
                        title: {
                            identifier: 'title',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Titel eingeben'
                                },
                                {
                                    type   : 'maxLength[100]',
                                    prompt : 'Der Titel darf maximal 100 Zeichen lang sein'
                                }
                            ]
                        },
                        subtitle: {
                            identifier: 'subtitle',
                            optional   : true,
                            rules: [
                                {
                                    type   : 'maxLength[100]',
                                    prompt : 'Der Untertitelitel darf maximal 100 Zeichen lang sein'
                                }
                            ]
                        },
                        description: {
                            identifier: 'description',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Beschreibung eingeben'
                                },
                                {
                                    type   : 'maxLength[50000]',
                                    prompt : 'Die Beschreibung darf maximal 10.000 Zeichen lang sein'
                                }
                            ]
                        },
                        year: {
                            identifier: 'year',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Wähle ein Produktionsjahr aus'
                                }
                            ]
                        },
                        disc: {
                            identifier: 'disc',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Wähle ein Medium aus'
                                }
                            ]
                        },
                        price: {
                            identifier: 'price',
                            rules: [
                                {
                                    type   : 'decimal',
                                    prompt : 'Gib eine gültige Zahl ein'
                                }
                            ]
                        },
                        duration: {
                            identifier: 'duration',
                            rules: [
                                {
                                    type   : 'integer[1..1000]',
                                    prompt : 'Gib eine gültige Laufzeit ein'
                                }
                            ]
                        },
                        fsk: {
                            identifier: 'fsk',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Wähle eine Altersfreigabe aus'
                                }
                            ]
                        },
                        genre: {
                            identifier: 'genre',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Wähle ein Genre aus'
                                }
                            ]
                        },
                        rating: {
                            identifier: 'rating',
                            rules: [
                                {
                                    type   : 'empty',
                                    prompt : 'Wähle eine Bewertung aus'
                                }
                            ]
                        },
                        purchaseDate: {
                            identifier: 'purchaseDate',
                            rules: [
                                {
                                    type   : 'regExp',
                                    value  : /^\d{4}-\d{2}-\d{2}$/,
                                    prompt : 'Gib ein gültiges Datum ein (dd.mm.yyyy)'
                                },
                                {
                                    type   : 'exactLength[10]',
                                    prompt : 'Gib ein gültiges Datum ein (dd.mm.yyyy)'
                                }
                            ]
                        }
                    }
                })
        ;
        $('.ui.form').form('set values', {
            year        : "{{movie.year}}",
            disc        : "{{movie.disc}}",
            fsk         : "{{movie.fsk}}",
            genre       : "{{movie.genre}}",
            rating      : "{{movie.rating}}",
            directors   : [{{#each movie.directors}}"{{this}}",{{/each}}],
            actors      : [{{#each movie.actors}}"{{this}}",{{/each}}]
        });
    });
</script>
<div class="ui segment">
    <h2 class="ui header">Film bearbeiten</h2>
    <div class="ui divider"></div>
    <form class="ui form" method="post" enctype="multipart/form-data" action="/admin/editMovie/{{movie.id}}">
        <div class="equal width fields">
            <div class="field required">
                <label>Titel</label>
                <input name="title" placeholder="Titel ..." type="text" maxlength="100" value="{{movie.title}}">
            </div>
            <div class="field">
                <label>Untertietel</label>
                <input name="subtitle" placeholder="Untertietel ..." maxlength="100" type="text" value="{{movie.subTitle}}">
            </div>
        </div>
        <div class="field required">
            <label>Beschreibung</label>
            <textarea name="description">{{movie.description}}</textarea>
        </div>
        <div class="equal width fields">
            <div class="field">
                <label>Cover</label>
                <input name="cover" type="file">
            </div>
        </div>
        <div class="equal width fields">
            <div class="field required">
                <label>Produktionsjahr</label>
                <select name="year" class="ui dropdown search">
                    <option value="">Produktionsjahr</option>
                    {{#each years}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="field required">
                <label>Medium</label>
                <select name="disc" class="ui dropdown search">
                    <option value="">Medium</option>
                    {{#each config.disc}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="equal width fields">
            <div class="field">
                <label>Preis</label>
                <input name="price" type="number" min="0" max="250" step="0.01" value="{{movie.price}}">
            </div>
            <div class="field required">
                <label>Laufzeit</label>
                <input name="duration" placeholder="0" type="number" min="0" max="1000" step="1"  value="{{movie.duration}}">
            </div>
        </div>
        <div class="equal width fields">
            <div class="field required">
                <label>Genre</label>
                <select name="genre" class="ui dropdown search">
                    <option value="">Genre</option>
                    {{#each config.genres}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="field required">
                <label>Altersfreigabe</label>
                <select name="fsk" class="ui dropdown search">
                    <option value="">FSK</option>
                    {{#each config.fsk}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="equal width fields">
            <div class="field required">
                <label>Bewertung</label>
                <select name="rating" class="ui dropdown search">
                    <option value="">Bewertung</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            </div>
            <div class="field required">
                <label>Kaufdatum</label>
                <input type="date" min="1980-01-01" value="{{movie.registredDate}}" name="purchaseDate">
            </div>
        </div>
        <div class="equal width fields">
            <div class="field">
                <label>Regisseur</label>
                <select name="directors" class="ui fluid search dropdown" multiple>
                    <option value="">Regisseur</option>
                    {{#each config.directors}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="field">
                <label>Schauspieler</label>
                <select name="actors" class="ui fluid search dropdown" multiple>
                    <option value="">Schauspieler</option>
                    {{#each config.actors}}
                        <option value="{{this}}">{{this}}</option>
                    {{/each}}
                </select>
            </div>
        </div>
        <div class="ui button basic secondary" onclick="window.history.back()">Zurück</div>
        <button class="ui button primary" type="submit">Speichern</button>
    </form>
</div>