<div class="ui segment">
    {{#if found}}
        <div class="ui grid stackable">
            {{#if movie}}
                <div class="four wide column">
                    <img src="/static/image/cover/{{movie.coverImg}}" class="ui huge image">
                </div>
                <div class="twelve wide column">
                    <h1 class="ui header">{{movie.title}}</h1>
                    <h3 class="ui header">{{movie.subTitle}}</h3>
                    <div class="ui divider"></div>
                    <div class="ui grid stackable">
                        <div class="four wide column">
                            <h4 class="ui header">Jahr</h4>
                            {{movie.year}}
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">Medium</h4>
                            {{movie.disc}}
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">Preis</h4>
                            {{movie.price}}&euro;
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">L채nge</h4>
                            {{movie.duration}}
                        </div>
                    </div>
                    <div class="ui grid stackable">
                        <div class="four wide column">
                            <h4 class="ui header">FSK</h4>
                            <img src="/static/image/fsk/{{movie.fsk}}.jpg" class="ui tiny image">
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">Genre</h4>
                            {{movie.genre}}
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">Kaufdatum</h4>
                            {{movie.registredDate}}
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">Bewertung</h4>
                            <span>
                                {{movie.rating}}
                            </span>
                        </div>
                    </div>
                </div>
                <div class="sixteen wide column">
                    <h3 class="ui header">Beschreibung</h3>
                    <p>{{movie.description}}</p>
                </div>
            {{else if moviebox}}
                <div class="four wide column">
                    <img src="/static/image/cover/{{moviebox.coverImg}}" class="ui huge image">
                </div>
                <div class="twelve wide column">
                    <h1 class="ui header">{{moviebox.title}}</h1>
                    <h3 class="ui header">{{moviebox.subTitle}}</h3>
                    <div class="ui divider"></div>
                    <div class="ui grid stackable">
                        <div class="four wide column">
                            <h4 class="ui header">Jahr</h4>
                            {{moviebox.year}}
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">Medium</h4>
                            {{moviebox.disc}}
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">Preis</h4>
                            {{moviebox.price}}&euro;
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">Gesamtl채nge</h4>
                            {{movieboxduration}}
                        </div>
                    </div>
                    <div class="ui grid stackable">
                        <div class="four wide column">
                            <h4 class="ui header">FSK</h4>
                            <img src="/static/image/fsk/{{movieboxfsk}}.jpg" class="ui tiny image">
                        </div>
                        <div class="four wide column">
                            <h4 class="ui header">Kaufdatum</h4>
                            {{moviebox.registredDate}}
                        </div>
                    </div>
                </div>
                <div class="sixteen wide column">
                    <h2 class="ui header">Filme</h2>
                    {{#each moviebox.movies}}
                    <div class="ui segment" id="a{{this.id}}">
                        <div class="ui grid stackable">
                            <div class="three wide column">
                                <img src="/static/image/cover/{{this.coverImg}}" class="ui image">
                            </div>
                            <div class="thirteen wide column">
                                <h3 class="ui header">{{this.title}}</h3>
                                <h5 class="ui header">{{this.subTitle}}</h5>
                                <div class="ui divider"></div>
                                <div class="ui grid stackable">
                                    <div class="four wide column">
                                        <h4 class="ui header">Genre</h4>
                                        {{this.genre}}
                                    </div>
                                    <div class="four wide column">
                                        <h4 class="ui header">Jahr</h4>
                                        {{this.year}}
                                    </div>
                                    <div class="four wide column">
                                        <h4 class="ui header">l채nge</h4>
                                        {{this.duration}}
                                    </div>
                                    <div class="four wide column">
                                        <h4 class="ui header">Bewertung</h4>
                                        <span>
                                            {{this.rating}}
                                        </span>
                                    </div>
                                </div>
                                <div class="ui grid stackable">
                                    <div class="four wide column">
                                        <h4 class="ui header">FSK</h4>
                                        <img src="/static/image/fsk/{{this.fsk}}.jpg" class="ui tiny image">
                                    </div>
                                </div>
                            </div>
                            <div class="sixteen wide column">
                                <h3 class="ui header">Beschreibung</h3>
                                <p>{{this.description}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
        <div class="ui segment borderless">
            <div class="ui button basic secondary" onclick="window.history.back()">Zur체ck</div>
        </div>
    {{else}}
        <div class="ui negative message">
            <div class="header">
                Der Film ist nicht bekannt
            </div>
        </div>
    {{/if}}
</div>