<div class="ui segment mainSegment">
    <h2 class="ui header">Filme</h2>
    <div class="ui divider"></div>
    <div class="ui link cards five column doubling stackable">
        {{#each data}}
        <div class="card" onclick="window.location = '{{#if this.movies}}/detailView/movieBox/{{this.id}}{{else}}/detailView/movie/{{this.id}}{{/if}}'">
            <div class="image">
                <img src="/static/image/cover/{{this.coverImg}}">
            </div>
            <div class="content">
                <div class="header">{{this.title}}</div>
                <div class="meta">
                    <a>{{this.genres.[0]}}</a>
                </div>
            </div>
            <div class="extra content">
                <span class="right floated">
                    {{this.duration}}min
                </span>
            </div>
        </div>
        {{/each}}
    </div>
    <nav>
        <div class="ui pageBrowser">
            <div class="ui pagination menu pageBrowserContainer">
                <a class="item">
                    1
                </a>
                <a class="item disabled">
                    ...
                </a>
                <a class="item">
                    10
                </a>
                <a class="item active">
                    11
                </a>
                <a class="item">
                    12
                </a>
                <a class="item disabled">
                    ...
                </a>
                <a class="item">
                    70
                </a>
            </div>
        </div>
        <span style="float: none"></span>
    </nav>
</div>
