<div class="ui segment mainSegment">
    <h2 class="ui header">Filme</h2>
    <div class="ui divider"></div>
    <div class="ui link cards five column doubling stackable">
        {{#if data}}
            {{#each data}}
            <div class="card" onclick="window.location = '{{#if this.movies}}/detailView/movieBox/{{this.id}}{{else}}/detailView/movie/{{this.id}}{{/if}}'">
                <div class="image">
                    <img src="/static/image/cover/{{this.coverImg}}">
                </div>
                <div class="content">
                    <div class="header">{{this.title}}</div>
                    <div class="meta">
                        <a>{{this.genres.[0]}}</a>
                    </div>
                </div>
                <div class="extra content">
                    <span class="right floated">
                        {{this.duration}}min
                    </span>
                </div>
            </div>
            {{/each}}
        {{else}}
            <h1 class="ui header">Keine Einträge</h1>
        {{/if}}
    </div>
    {{#if pagination}}
    <nav>
        <br>
        <div class="ui container">
            <div class="ui secondary menu">
                <div class="right menu">
                    <div class="ui inverted pagination menu">
                        {{pagination}}
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {{/if}}
</div>
