<script type="text/javascript">
    function showHide() {
        if($('#searchForm').hasClass('hide')) {

            $('#searchForm').show('slow');
            $('#searchForm').removeClass('hide');
        } else {

            $('#searchForm').hide('slow');
            $('#searchForm').addClass('hide');
        }
    }
    
    $(function () {
        $('select.dropdown').dropdown();

        $('.ui.form').form('set values', {
            genre       : "{{searchParameters.genre}}",
            {{#if searchParameters.rating}}rating      : "{{searchParameters.rating}}",{{/if}}
            directors   : [{{#each searchParameters.directors}}"{{this}}",{{/each}}],
            actors      : [{{#each searchParameters.actors}}"{{this}}",{{/each}}]
        });
    })
</script>
<div class="ui segment">
    <div onclick="showHide()" style="cursor: pointer;">
        <h2 class="ui header">Suchen</h2>
    </div>
    <div class="ui divider"></div>
    <div id="searchForm" {{#if found}}class="hide" style="display: none"{{/if}}>
        <form class="ui form" method="get" action="/search">
            <h4 class="ui dividing header">Titel</h4>
            <div class="field">
                <div class="field">
                    <div class="field">
                        <input name="title" placeholder="Titel" type="text" value="{{searchParameters.title}}">
                    </div>
                </div>
            </div>
            <h4 class="ui dividing header">Länge</h4>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <input name="min_length" placeholder="von (min)" type="text" value="{{searchParameters.minLength}}">
                    </div>
                    <div class="field">
                        <input name="max_length" placeholder="bis (min)" type="text" value="{{searchParameters.maxLength}}">
                    </div>
                </div>
            </div>
            <h4 class="ui dividing header">Sonstiges</h4>
            <div class="field">
                <div class="two fields">
                    <div class="field">
                        <label>Genre</label>
                        <select class="ui fluid dropdown search" name="genre">
                            <option value="">alle</option>
                            {{#each config.genres}}
                                <option value="{{this}}">{{this}}</option>
                            {{/each}}
                        </select>
                    </div>
                    <div class="field">
                        <label>Bewertung</label>
                        <select class="ui fluid dropdown search" name="rating">
                            <option value="">alle</option>
                            <option value="1">== 1</option>
                            <option value="1gt">&gt;= 1</option>
                            <option value="2">== 2</option>
                            <option value="2gt">&gt;= 2</option>
                            <option value="3">== 3</option>
                            <option value="3gt">&gt;= 3</option>
                            <option value="4">== 4</option>
                            <option value="4gt">&gt;= 4</option>
                            <option value="5">== 5</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="equal width fields">
                <div class="field">
                    <label>Regisseur</label>
                    <select name="directors" class="ui fluid search dropdown" multiple>
                        <option value="">Regisseur</option>
                        {{#each config.directors}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
                <div class="field">
                    <label>Schauspieler</label>
                    <select name="actors" class="ui fluid search dropdown" multiple>
                        <option value="">Schauspieler</option>
                        {{#each config.actors}}
                            <option value="{{this}}">{{this}}</option>
                        {{/each}}
                    </select>
                </div>
            </div>
            <input type="submit" class="ui button primary" value="Suchen">
            <input type="reset" class="ui button" value="Reset">
        </form>
    </div>
</div>
<div class="ui segment">
    <h2 class="ui header">{{founds}} Ergebnisse</h2>
    <div class="ui divider"></div>
    <div class="ui link cards five column doubling stackable">
        {{#if data}}
            {{#each data}}
                <div class="card" onclick="window.location = '/detailView/{{this.id}}#a{{this.id}}'">
                    <div class="image">
                        <img src="/static/image/cover/{{this.coverImg}}">
                    </div>
                    <div class="content">
                        <div class="header">{{this.title}}</div>
                        <div class="meta">
                            <a>{{this.genre}}</a>
                        </div>
                    </div>
                    <div class="extra content">
                        <span class="right floated">
                            {{this.duration}}
                        </span>
                        <span>
                            {{this.disc}}
                        </span>
                    </div>
                </div>
            {{/each}}
        {{else}}
            <div class="ui negative message">
                <div class="header">
                    Keine Filme gefunden
                </div>
            </div>
        {{/if}}
    </div>
    {{#if pagination}}
        <nav>
            <br>
            <div class="ui container">
                <div class="ui secondary menu">
                    <div class="right menu">
                        <div class="ui inverted pagination menu">
                            {{pagination}}
                        </div>
                    </div>
                </div>
            </div>
        </nav>
    {{/if}}
</div>