<div class="ui segment">
    <h2 class="ui header">Statistik</h2>
    <div class="ui divider"></div>
    <table class="ui celled table">
        <tbody>
        <tr>
            <td>Anzahl Filme:</td>
            <td>{{movieCount}}</td>
        </tr>
        <tr>
            <td>Anzahl Filmboxen:</td>
            <td>{{movieBoxCount}}</td>
        </tr>
        <tr>
            <td>Gsamtl&auml;nge:</td>
            <td>{{sumDuration}}</td>
        </tr>
        <tr>
            <td>Durchschnittsl&auml;nge:</td>
            <td>{{avgDuration}}</td>
        </tr>
        <tr>
            <td>Gesamtpreis:</td>
            <td>{{sumPrice}}&euro;</td>
        </tr>
        <tr>
            <td>Durchschnittspreis:</td>
            <td>{{avgPrice}}&euro;</td>
        </tr>
        <tr>
            <td>Durchschnittsbewertung:</td>
            <td>
                <div class="ui rating star large" id="avgRating" data-rating="{{avgRating}}" data-max-rating="5"></div>
                <script type="text/javascript">
                    $(function() {
                        $('#avgRating').rating('disable');
                    });
                </script>
            </td>
        </tr>
        </tbody>
    </table>
</div>
