<script src="/static/js/rgraph/RGraph.common.core.js"></script>
<script src="/static/js/rgraph/RGraph.bar.js"></script>
<script type="text/javascript">
    var purchaseAtYearKeys = [
        {{#each purchaseAtYearKeys}}"{{this}}",{{/each}}
    ];
    var purchaseAtYearData = [
        {{#each purchaseAtYearData}}"{{this}}",{{/each}}
    ];
    var costAtYearKeys = [
        {{#each costAtYearKeys}}"{{this}}",{{/each}}
    ];
    var costAtYearData = [
        {{#each costAtYearData}}"{{this}}",{{/each}}
    ];
    var avgCostAtYearKeys = [
        {{#each avgCostAtYearKeys}}"{{this}}",{{/each}}
    ];
    var avgCostAtYearData = [
        {{#each avgCostAtYearData}}"{{this}}",{{/each}}
    ];

    $(function() {

        new RGraph.Bar({
            id: 'purchase',
            data: purchaseAtYearData,
            options: {
                labelsAbove: true,
                labelsAboveDecimals: 0,
                labelsAboveColor: 'black',
                labelsAboveSize: 10,
                hmargin: 20,
                colors: ['#86B5BC','#E30513','#1C1C1B','#86BC24','#E5007D','#2F8DCD','#F9D900','#F6A200','#BCBCBC'],
                colorsSequential: true,
                labels: purchaseAtYearKeys,
                textSize: 10,
                textColor: 'gray',
                backgroundGridVlines: false,
                backgroundGridAutofitNumhlines: 4,
                backgroundGridBorder: false,
                noaxes: true,
                ylabelsCount: 4,
                title: 'Anzahl gekaufter Filme pro Jahr',
                titleX: 25,
                titleY: 0,
                titleHalign: 'left',
                titleColor: '#999',
                ylabelsOffsetx: -10
            }
        }).grow({frames: 60});

        new RGraph.Bar({
            id: 'price',
            data: costAtYearData,
            options: {
                unitsPost: ' €',
                labelsAbove: true,
                labelsAboveDecimals: 0,
                labelsAboveUnitsPost: '€',
                labelsAboveColor: 'black',
                labelsAboveSize: 10,
                hmargin: 20,
                colors: ['#86B5BC','#E30513','#1C1C1B','#86BC24','#E5007D','#2F8DCD','#F9D900','#F6A200','#BCBCBC'],
                colorsSequential: true,
                labels: costAtYearKeys,
                textSize: 10,
                textColor: 'gray',
                backgroundGridVlines: false,
                backgroundGridAutofitNumhlines: 4,
                backgroundGridBorder: false,
                noaxes: true,
                ylabelsCount: 4,
                title: 'Preis gekaufter Filme pro Jahr',
                titleX: 25,
                titleY: 0,
                titleHalign: 'left',
                titleColor: '#999',
                ylabelsOffsetx: -10
            }
        }).grow({frames: 60});

        new RGraph.Bar({
            id: 'avgPrice',
            data: avgCostAtYearData,
            options: {
                unitsPost: ' €',
                labelsAbove: true,
                labelsAboveDecimals: 2,
                labelsAboveUnitsPost: '€',
                labelsAboveColor: 'black',
                labelsAboveSize: 10,
                hmargin: 20,
                colors: ['#86B5BC','#E30513','#1C1C1B','#86BC24','#E5007D','#2F8DCD','#F9D900','#F6A200','#BCBCBC'],
                colorsSequential: true,
                labels: avgCostAtYearKeys,
                textSize: 10,
                textColor: 'gray',
                backgroundGridVlines: false,
                backgroundGridAutofitNumhlines: 4,
                backgroundGridBorder: false,
                noaxes: true,
                ylabelsCount: 4,
                title: 'mittlererer Preis gekaufter Filme pro Jahr',
                titleX: 25,
                titleY: 0,
                titleHalign: 'left',
                titleColor: '#999',
                ylabelsOffsetx: -10
            }
        }).grow({frames: 60});
    });
</script>
<div class="ui segment">
    <h2 class="ui header">Statistik</h2>
    <div class="ui divider"></div>
    <table class="ui celled table">
        <tbody>
        <tr>
            <td>Anzahl Filme:</td>
            <td>{{movieCount}}</td>
        </tr>
        <tr>
            <td>Anzahl Filmboxen:</td>
            <td>{{movieBoxCount}}</td>
        </tr>
        <tr>
            <td>Gsamtl&auml;nge:</td>
            <td>{{sumDuration}}</td>
        </tr>
        <tr>
            <td>Durchschnittsl&auml;nge:</td>
            <td>{{avgDuration}}</td>
        </tr>
        <tr>
            <td>Gesamtpreis:</td>
            <td>{{sumPrice}}&euro;</td>
        </tr>
        <tr>
            <td>Durchschnittspreis:</td>
            <td>{{avgPrice}}&euro;</td>
        </tr>
        <tr>
            <td>Durchschnittsbewertung:</td>
            <td>
                <div class="ui rating star large" id="avgRating" data-rating="{{avgRating}}" data-max-rating="5"></div>
                <script type="text/javascript">
                    $(function() {
                        $('#avgRating').rating('disable');
                    });
                </script>
            </td>
        </tr>
        </tbody>
    </table>
    <div style="width: 800px; margin: 25px auto;">
        <canvas id="purchase" width="800" height="400">
            [No canvas support]
        </canvas>
    </div>
    <div style="width: 800px; margin: 25px auto;">
        <canvas id="price" width="800" height="400">
            [No canvas support]
        </canvas>
    </div>
    <div style="width: 800px; margin: 25px auto;">
        <canvas id="avgPrice" width="800" height="400">
            [No canvas support]
        </canvas>
    </div>
</div>
